<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Welcome to ClipBard</h1>
  <p class="lead">
      <img src="images/bard.png" alt="Bard"><br>
      A place to store and share text snippets. <span class="glyphicon glyphicon-pencil"></span>
  </p>
</div>
<div ng-if="clips" class="panel panel-default">
    <div class="panel-heading">Public Clips</div>
    <div class="panel-body">
        <pagination total-items="pagination.totalItems" ng-model="pagination.page" items-per-page="pagination.limit"></pagination>
        <div ng-repeat="item in clips.clips" class="ellipsisText">
            <span class="label label-primary text-white"><span class="glyphicon glyphicon-user"></span>&nbsp;{{item.authName}}</span>
            &nbsp;<a ng-href="/clip/{{item._id}}">{{item.title}}</a>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>